html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  /* Background pattern from Subtle Patterns */
  background: #ffffff url('../img/geometry.png');
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

a {
  color: #fa5b3e;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

a.replay {
  color: #02b3e4;
}

a:hover {
  border-color: black
}

.hidden {
  display: none;
}

.no-scroll {
  overflow: hidden;
}

/* Styles for the deck of cards */

.deck {
  width: 660px;
  min-height: 680px;
  background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  padding: 32px;
  border-radius: 10px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 3em;
}

.deck .card {
  height: 125px;
  width: 125px;
  background: #2e3d49;
  font-size: 0;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
  transform: rotateY(0);
  background: #02b3e4;
  cursor: default;
}

.deck .card.unmatch {
  background: #fa5b3e;
}

.deck .card.show {
  font-size: 33px;
}

.deck .card.match {
  cursor: default;
  background: #02ccba;
  font-size: 33px;
}

/* Styles for the Score Panel */

.score-panel {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  width: 345px;
  margin-bottom: 10px;
}

.score-panel .stars {
  padding: 0;
  margin-right: 10px;
}

.score-panel .stars li {
  list-style: none;
  display: inline-block;
}

.score-panel .moves {
  margin-right: auto;
}

.score-panel .timer {
  display: inline-block;
  margin-right: 10px;
}

.score-panel .restart {
  cursor: pointer;
}

/* Styles for modal */

.modal-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
  background-color: #000000b3;
}

.finish-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: #fff;
  width: 350px;
  height: 200px;
  border: 3px solid black;
  border-radius: 10px;
  text-align: center;
}

@media screen and (max-width: 450px) {
  .container {
    margin-top: 50px;
  }

  .deck {
    width: 300px;
    min-height: 320px;
    padding: 15px;
    box-shadow: 6px 8px 10px 0 rgba(46, 61, 73, 0.5);
  }

  .deck .card {
    height: 60px;
    width: 60px;
  }

  .deck .card.show,
  .deck .card.match {
    font-size: 1.75em;
  }

  .score-panel {
    width: 300px;
    font-size: 1em;
    white-space: nowrap;
  }
}
